@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 1em;
    text-align: center;
    color: rgb(15, 76, 129);
    background-color: rgb(241, 240, 226);
}
